li#wp-admin-bar-hestia-nginx-cache-manual-purge > .ab-item {
	cursor: pointer;
}
li#wp-admin-bar-hestia-nginx-cache-manual-purge > .ab-item::before {
	content: "\f515";
}
#hestia-nginx-cache-purge-wp-nonce {
	display: none;
}
